<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Контакты</title>
    <link rel="stylesheet" href="../static/css/first.css">
    <script src="../static/js/index.js" defer></script>
    <script src="../static/js/loader.js" defer></script>
</head>
<body>
<header class="header">
    <div id="loader">
        <div class="rings">
            <div class="ring ring-big"></div>
            <div class="ring ring-small"></div>
        </div>
    </div>
    <div class="header__logo">
        <img class="header__logo_img" src="../static/img/Logo.jpg" alt="логотип сайта">
    </div>
    <nav class="header__nav">
        <ul class="header__ul">
            <li><a href="main.html" class="header__ul_li_a">Главная</a></li>
            <li><a href="#" class="header__ul_li_a">Услуги</a></li>
            <li><a href="#" class="header__ul_li_a">Блог</a></li>
            <li><a href="about.html" class="header__ul_li_a">О нас</a></li>
            <li><a href="contacts.html" class="header__ul_li_a">Контакты</a></li>
        </ul>
    </nav>
    <button type="button" class="header__button">
        Оформить заказ
    </button>
</header>
<main>

</main>
<footer class="footer">
    <div class="footer__end">
        <div class="footer__text">
            <h4>Название организации</h4>
            <p>Создаем идеальные моменты, чтобы ваша история любви запомнилась навсегда</p>
        </div>
    </div>
    <div class="footer__bottom">
        <p>&copy; 2024 Организация. Все правы защищены</p>
    </div>
</footer>
</body>
</html>